.flying-btn {
  position: fixed;
  right: 25px;
  bottom: 25px;
  z-index: 1000;
}
.undo {
  right: 60px;
}

.clear {
  right: 95px;
}

.dropzone {
  width: 200px;
  height: 20px;
  background: blueviolet;
  margin-bottom: 10px;
  padding: 10px;
}

.save {
  right: 130px;
}

.canvas {
  padding: 1vh;
  border: 1px solid;
  width: 1280px;
  height: 720px;
  object-fit: contain;
  flex: 1;
  max-width: 1280px;
  max-height: 720px;
  overflow: scroll;
  text-align: center;
  position: relative;
}

mat-slider {
  height: 500px;
}

.canvas-area {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}
